{% extends 'base.html' %}


{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<h1>{{ post.title }}</h1>
<h3>{{ post.subtitle }}</h3>
<small>By: {{ post.author }}  |  Created on: {{ post.created_on }}</small>
<p>{{ post.body }}</p>
{% if user.is_authenticated %}
    {% if user == post.author %}
        <a href="{% url "post_edit" post.id %}" class="btn btn-success">Edit</a>
        <a href="{% url "post_delete" post.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
{% endif %}
{% endblock content %}