{% extends 'base.html' %}
{% load static %}


{% block title %}About{% endblock title %}

{% block content %}
<h1>About Me</h1>
    <p>"CodeCraft Solutions" is the driving force behind Issue Tracker. As a leading provider of innovative software
        solutions, we're dedicated to building tools that empower teams and streamline workflows. With a focus on
        user-centric design and cutting-edge technology, CodeCraft Solutions is committed to delivering products that
        simplify complex processes and enhance productivity. Our team of experienced developers and engineers work
        tirelessly to ensure Issue Tracker remains a robust, reliable, and user-friendly platform for issue management.
    </p>
    <img src="{% static 'img/Tony.png' %}" alt="">
{% endblock content %}