{% extends 'base.html' %}


{% block title %}Home{% endblock title %}

{% block content %}
<h1>Home</h1>
<p>"Introducing 'Issue Tracker', the streamlined solution to manage and resolve issues effectively. With Issue Tracker,
    you can centralize all your project issues in one platform, categorize and prioritize them with ease, and track
    their progress from identification to resolution. Our app fosters seamless collaboration among team members,
    allowing for efficient task assignment and progress monitoring. Customizable workflows and automated notifications
    ensure timely updates and prompt action. Gain valuable insights into your issue resolution process with comprehensive
    reports and analytics. Simplify issue management, enhance team productivity, and accelerate project success with
    Issue Tracker."</p>
{% endblock content %}