{% extends "base.html" %}
{% block title %}Issues{% endblock title %}
{% block content %}

<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <h2>To Do</h2>
      {% for issue in to_do_list %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ issue.summary }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{ issue.subtitle }}</h6>
          <p class="card-text">{{ issue.description|truncatechars:128 }}</p>
          <a href="{% url 'detail' issue.id %}" class="card-link">More Details</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col">
      <h2>In Progress</h2>
      {% for issue in in_progress_list %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ issue.summary }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{ issue.subtitle }}</h6>
          <p class="card-text">{{ issue.description|truncatechars:128 }}</p>
          <a href="{% url 'detail' issue.id %}" class="card-link">More Details</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col">
      <h2>Done</h2>
      {% for issue in done_list %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ issue.summary }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{ issue.subtitle }}</h6>
          <p class="card-text">{{ issue.description|truncatechars:128 }}</p>
          <a href="{% url 'detail' issue.id %}" class="card-link">More Details</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}